$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: Helvetica, arial, sans-serif;
    color: #333;
}

.content {
	margin: 50px auto 50px;
	width: 980px;
	padding: 20px;
    background-color: pink;
    overflow: hidden;

    .dice-sides {
    	display: block;
    	margin: 0 10px 10px 0;
    	float: left;

    }

	.player-rolls {
	    float: left;
	    clear: left;
	    font-size: 25px;
	    width: 300px; 
	    height: 300px;
	    text-align: center;
	

		.player-roll1 {
		    padding: 20px;
		    height: 100px;
		    background-color: blue;
		}

		.player-roll2 { 
		    padding: 20px;
		    height: 100px;
		    background-color: red;
		}

		.player-roll3 {
		    padding: 20px;
		    height: 100px;
		    background-color: yellow;
		}
	}

	.computer-rolls {
	    float: right;
	    font-size: 25px;
	    width: 300px; 
	    height: 300px;
	    text-align: center;

		.computer-roll1 {
		    padding: 20px;
		    height: 100px;
		    background-color: blue;
		}

		.computer-roll2 {
			padding: 20px;
		    height: 100px;
			background-color: red;

		}

		.computer-roll3 {
			padding: 20px;
		    height: 100px;
		    background-color: yellow;
		}
	}
}